name: Publish to PyPI

on:
  push:
    tags:
      - 'v*'

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
        - uses: actions/checkout@v5

        - uses: pdm-project/setup-pdm@v4
          with:
            cache: true
            python-version: '3.11'

        - name: Publish package distributions to PyPI
          run: pdm publish
